---
title: Amazon Affiliate Link Maker | URL Tools
layout: post
---
<html>

<head>
    <!-- Meta tags common for website -->
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is easy to use open source tool to create amazon affiliate link from an existing amazon link." />
    <meta name="keywords" content="online,tool,amazon,affiliate,tag,url,link,maker,builder,creator,generator,opensource" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <link rel="stylesheet" href="plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="plugins/bootstrap-slider/slider.css">
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- header tag from theme -->
        {% include theme-header %}
        <!-- Sidebar for the whole website -->
        {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h1 class="box-title">Generate Amazon Affiliate Link</h1>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="background-color">Amazon URL</label>
                                        <input class="form-control" id="input" value="" placeholder="Enter Amazon URL here" />
                                    </div>
                                    <div class="form-group">
                                        <label for="color">Amazon Affilate Tag</label>
                                        <input class="form-control" id="affiliateTag" type="text" value="" placeholder="Enter amazon affiliate tag" />
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <button type="button" class="btn btn-info" id="convert">Convert <i class="fa fa-fw fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Copy Link Here</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="title">Amazon URL with Affiliate Tag</label>
                                        <input class="form-control" id="taggedurl" type="text" placeholder="Original URL with Tag" />
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Clean Amazon URL with Affiliate Tag</label>
                                        <input class="form-control" id="cleanurl" type="text" placeholder="Clean URL" />
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Extracted ASIN (Unique Product Id on Amazon) </label>
                                        <input class="form-control" id="asin" type="text" placeholder="Exracted ASIN" />
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Clickable URL</label>
                                        <div class="form-control" > <a id="openurl" target="_blank"></a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                </div>
            </section>
            <section class="content">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">About Amazon Affiliate Link Creator Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="img-responsive" src="images/css-button.jpg" alt="Online CSS Button Generator Tool for website" title="Online CSS Button Generator Tool for website">
                        <p>This is a free online tool to create amazon affiliate link from an existing amazon link. The input to this tool is amazon url and affiliate tag. Output of this tool is an updated link that contains your affiliate tag.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">What is a Amazon Affiliate Link?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Amazon affiliate program is a popular affiliate commission program on internet. Amazon gives commission to its affiliate for referring users. Many affiliates refer user to a amazon product they like. This attracts many buyers to
                            amazon and in reward amazon offers commisions. It is a win-win for both amazon and its affiliate.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Do I Need To Enter The Affiliate Tag Always?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This is a simple browser based tool that requires user input. We try to store your last input tag in browser storage if it is supported. Therefore we can retain the last tag entered by you on a supported browser.</p>
                        <p>At the same time we are limited by storing data in only browser. Therefore your preferences may not be obtained if you switch browsers. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">How To Use These Links?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>You can use these links to share on social media, blog or in emails. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">How To Make Money Using Amazon and This Tool?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This tool can help you make money by speeding up your amazon affiliate links creation. Below are some ideas </p>
                        <ul>
                            <li>Share an awesome amazon product link with your friends.</li>
                            <li>Write a review of amazon product on a blog.</li>
                            <li>Email your friends about your favorite products on amazon.</li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script src="javascripts/fromdev-utils.js"></script>

<script>
    $(document).ready(function() {
        getAffiliateTag();
        $('#convert').click(function() {
            clear();
            var affiliateTag = getAffiliateTag();
            var input = $('#input').val();
            input = input.trim();
            if (isValidURL(input)) {
                processUrl(input, affiliateTag);
            }
        });
    });
    var getAffiliateTag = function() {
        var affiliateTag = $('#affiliateTag').val();

        if (!affiliateTag) {
            affiliateTag = getFromBrowserStore("affiliateTag");
            if (!affiliateTag) {
                affiliateTag = 'fromdevtools-20';
            }
        }
        saveInBrowserStore("affiliateTag", affiliateTag);
        $('#affiliateTag').val(affiliateTag);
        return affiliateTag;
    };

    var processUrl = function(url) {
        var affiliateTag = getAffiliateTag();
        var params = getUrlVars(url);
        var tagVal = params['tag'];
        if (tagVal) {
            url = url.replace('tag=' + tagVal, 'tag=' + affiliateTag);
        } else if (url.indexOf('?') === -1) {
            url = url + '?tag=' + affiliateTag;
        } else {
            url = url.replace('?', '?tag=' + affiliateTag + '&');
        }
        var asin = Utils.amazon.extractASIN(url);
        $('#asin').val(asin);
        $('#taggedurl').val(url);
        $('#cleanurl').val(makeCleanURL(url, asin, affiliateTag));
        $('#openurl').attr('href', url);
        $('#openurl').text('Open Link (in new window)');
    };

    var getUrlVars = function() {
        var vars = [],
            hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    };

    var makeCleanURL = function(url, asin, tag) {
        var asinEnd = url.indexOf(asin) + asin.length;
        var cleanurl = url.substring(0, asinEnd) + '?tag=' + tag;
        return cleanurl;

    };

    var isValidURL = function(s) {
        var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
        return regexp.test(s);
    };

    var clear = function() {
        $('#asin').val('');
        $('#taggedurl').val('');
        $('#cleanurl').val('');
        $('#openurl').attr('href', '');
        $('#openurl').text('');
    };

    var saveInBrowserStore = function(key, value) {
        if (typeof(Storage) !== "undefined") {
            // Store
            localStorage.setItem(key, value);
        }
    };

    var getFromBrowserStore = function(key) {
        if (typeof(Storage) !== "undefined") {
            return localStorage.getItem(key);
        }
        return '';
    };
</script>

</html>
