---
title: Contact Us | Feedback | Suggestion | Contribute | Developer Tools
layout: post
---
<html>

<head>
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Contact us or let us know your feedback about these tools" />
    <meta name="keywords" content="online,tool,contact,feedback" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- header tag from theme -->
        {% include theme-header %}
        <!-- Sidebar for the whole website -->
        {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h1 class="box-title">Contact Us</h1>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="widget ContactForm" id="ContactForm1">
                            <div class="contact-form-widget">
                                <div class="form">
                                    <script type="text/javascript">
                                        var submitted = false;
                                    </script><iframe id="hidden_iframe" name="hidden_iframe" onload="if(submitted){window.location='http://www.imustread.com/p/thank-you.html';}" style="display: none;"></iframe>
                                    <form name="contact-form" action="https://docs.google.com/a/fromdev.com/forms/d/1Og1CC-a9pEnrmKyC3_H1JUEacTCP6aPMcShUbqU2wjk/formResponse" target="hidden_iframe" method="POST" id="mG61Hd" onsubmit="submitted=true;">
                                        <p></p>
                                        Name
                                        <br />
                                        <input class="form-control" id="entry_1000000" name="entry.1000000" size="30" type="text" value="" required="" />
                                        <p></p>
                                        Email
                                        <span style="font-weight: bolder;">*</span>
                                        <br />
                                        <input class="form-control" id="entry_1000001" name="entry.1000001" size="30" type="text" value="" required="" />
                                        <p></p>
                                        Subject
                                        <span style="font-weight: bolder;">*</span>
                                        <br />
                                        <select class="form-control" aria-label="Subject  " aria-required="true" id="entry_1000004" name="entry.1000004" required=""><option value="Advertise" />Advertise<option value="Feedback" />Feedback</select>
                                        <p></p>
                                        Message
                                        <span style="font-weight: bolder;">*</span>
                                        <br />
                                        <textarea class="form-control" cols="25" id="entry_1000002" name="entry.1000002" rows="5" required=""></textarea>
                                        <input name="pageHistory" type="hidden" value="0" /> <input name="fvv" type="hidden" value="0" /> <input name="fbzx" type="hidden" value="-6469887714227403977" />
                                        <p></p>
                                        <input class="form-control" id="ss-submit" name="submit" type="submit" value="Send" />
                                        <p></p>
                                        <div style="text-align: center; max-width: 222px; width: 100%">
                                            <p class="contact-form-error-message" id="ContactForm1_contact-form-error-message"></p>
                                            <p class="contact-form-success-message" id="ContactForm1_contact-form-success-message"></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <span class="widget-item-control">
<span class="item-control blog-admin">
<a class="quickedit" href="//www.blogger.com/rearrange?blogID=7818530419724258351&amp;widgetType=ContactForm&amp;widgetId=ContactForm1&amp;action=editWidget&amp;sectionId=footer-section" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;ContactForm1&quot;));" target="configContactForm1" title="Edit">
<img alt="" height="18" src="//img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18" />
</a>
</span>
                            </span>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>


</html>
