---
title: Create Proper HTML Link | URL Tools
layout: post
---
<html>

<head>
    <!-- Meta tags common for website -->
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is easy to use open source tool to create a valid HTML link from an existing URL." />
    <meta name="keywords" content="online,tool,html,url,link,maker,builder,creator,generator,opensource" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <link rel="stylesheet" href="plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="plugins/bootstrap-slider/slider.css">
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
  <!-- Data Table Addon Styles -->
  <link rel="stylesheet" href="https://tools.fromdev.com/plugins/datatables.net/dataTables.bootstrap.min.css">
</head>

<body class="hold-transition skin-green sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <!-- header tag from theme -->
    {% include theme-header %}
    <!-- Sidebar for the whole website -->
    {% include theme-sidebar %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h1 class="box-title">Generate Proper HTML Link Code</h1>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="input">URL</label>
                                    <input class="form-control" id="input" value="" placeholder="Enter URL here" />
                                </div>
                                <div class="form-group">
                                    <label for="linktext">Link Text</label>
                                    <input class="form-control" id="linktext" type="text" value="" placeholder="Enter display text for HTML link" />
                                </div>
                                <div class="form-group">
                                    <label for="following">Link Type (DOFOLLOW / NOFOLLOW)</label>
                                    <select id="following">
                                      <option value="" selected="selected">Do Follow</option>
                                      <option value="nofollow">No Follow</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="target">Link Open (in New / Same Window / more)</label>
                                    <select id="target">
                                      <option value="_self" selected="selected">Same Window [Default]</option>
                                      <option value="_blank">New Window/Tab</option>
                                      <option value="_parent">Immediate Parent Window/Tab</option>
                                      <option value="_top">Top Most Parent Window/Tab</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <p id="error" class="text-red"></p>
                                  </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-info" id="convert">Generate Link <i class="fa fa-fw fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Copy Link Here</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="openurl">Clickable URL</label>
                                    <div class="form-control"> <a id="openurl" target="_blank"></a></div>
                                    <div id="linkcodecontainer" style="display: none;"><a></a></div>
                                </div>
                                <div class="form-group">
                                    <label for="linkhtml">HTML Formatted Code For Link</label>
                                    <textarea class="form-control" rows="3" id="linkhtml" readonly="readonly" placeholder="HTML Formatted Code For Link"></textarea>
                                    <span class="input-group-btn">
                                      <button type="button" id="copy-linkhtml" class="btn btn-default btn-flat"><i class="fa fa-copy"></i> Copy Code</button>
                                    </span>
                                    <span class="label label-success" id="confirm-linkhtml" style="display:none"><i class="fa fa-check"></i> Copied</span>
                                  </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
        </section>
        <section class="content">
            <div class="box box-success">
              <div class="box-header with-border">
                <h3 class="box-title">Recently Created Links History (Saved On Browser)</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div id="history_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  <div id="history">Empty</div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </section>
        <section class="content">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">About HTML Link Creator Tool</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img class="img-responsive" src="images/create-html-link.jpg" alt="Online HTML link Generator Tool" title="Online HTML link Generator Tool">
                    <p>This is a free online tool to create simple HTML link code from an existing  URL. The input to this tool is a valid url and optional link text. Output of this tool is an updated HTML code that can be used as valid HTML.</p>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">What is a HTML Link?</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>A HTML link is simple way to add a web page URL on a website. </p>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Do I Need To Enter The Link Text Always?</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>The link text field is optional.</p>
                    <p>If you do not provide the link text we will default it to 'click here' </p>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Can I create a dofollow or nofollow link?</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>Yes, you can select the link type option to create dofollow and nofollow links.</p>
                    <p>The default value for link is dofollow, this will not be added in the code since it is default browser behavior when <code>rel</code> is not present. </p>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">How to create a link that open in new window?</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>To create a link that opens in new window you need to select the 'Link Open' option value of 'New Window/Tab' that corresponds to html attribute <code>target='_blank'</code>  </p>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">How To Use These Links?</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>You can use these links to share on social media, blog or in emails. You can also add them to your website or in blog comments. </p>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">How To Make Money Using Links and This Tool?</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>There are many affiliate websites that may pay you for sharing a web page. </p>
                    <ul>
                        <li>Share an awesome product link with your friends.</li>
                        <li>Write a review of product on a blog.</li>
                        <li>Email your friends about your favorite products on a website.</li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
        </section>
        {% include addthis %}
    </div>
    <!-- /.content-wrapper -->
    {% include theme-footer %}
</div>
<!-- ./wrapper -->
{% include theme-bottom-js %}

</body>
<script src="/javascripts/fromdev-ux-addon.js"></script>
<script src="/plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script src="/plugins/copyText/jquery.copyText.min.js"></script>
<script src="/javascripts/fromdev-utils.js"></script>
<script src="/plugins/datatables.net/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables.net/dataTables.bootstrap.min.js"></script>
<script src="/javascripts/custom-analytics.js"></script>
<script src="/javascripts/history.js"></script>

<script>
      const Page = {
    request: {},
    context: {
      tableName: 'CREATE-HTML-LINK',
      containerId: '#history',
      createTableHeader: () => {
        return `<thead><tr><th>Link</th><th>Type</th><th>Target</th><th>Title</th><th>Alt</th><th>Date Created</th></tr></thead>`;
      },
      createRow: (context) => {
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' };
        return `<tr>
                      <td><a href='${context.url}' target='_blank'> ${context.linkText || 'Click here'}</a></td>
                      <td>${context.rel || 'dofollow'}</td>
                      <td>${context.target || ''}</td>
                      <td>${context.linkText || ''}</td>
                      <td>${context.linkText || ''}</td>
                      <td>${(new Date(context.timestamp).toLocaleDateString(undefined, options))}</td>
                  </tr>`;
      }
    }
  };
    $(document).ready(function() {
        const handleConverClick = () => {
            clear();
            var input = $('#input').val();
            Page.request.url = input.trim();
            if (isValidURL(Page.request.url)) {
                processUrl(Page.request.url);
            } else {
                $('#error').text('Invalid input URL');
            }
        };
        $('#convert').click(function() {
            try {
                handleConverClick();
            } catch(e) {
                CustomAnalytics.collector.collect(
                {
                    eventName: 'error',
                    eventAction: 'convert-click',
                    message: `${e}: ${JSON.stringify(Page.request)}`
                }
                );
            }
        });
        CopyTextAddon.register('linkhtml');
        $('#linkhtml').selectOnFocus();
        $('#input').selectOnFocus();
        $('#converters-category').addClass('active');
        History.collectAndShow(Page);
    });
    const createLink = ($link, context) => {
        $link.attr('href', context.url);
        if(context.rel) {
            $link.attr('rel', context.rel);
        }
        if(context.target && context.target !== '_self') {
            $link.attr('target',context.target);
        }
        $link.text(context.text);
        $link.attr('title',context.text);
        $link.attr('alt',context.text);
    };
    var processUrl = function(url) {
        Page.request.rel = $('#following option:selected').val();
        Page.request.target = $('#target option:selected').val();

        const openUrlLink = $('#openurl');
        createLink(openUrlLink, {
            url: url,
            rel: Page.request.rel,
            text: 'Open Link (in new window)',
            target: Page.request.target
        });
        const linkCode = $('#linkcodecontainer a');
        Page.request.linkText = $('#linktext').val() || 'Click here';
        createLink(linkCode, {
            url: url,
            rel: Page.request.rel,
            target: Page.request.target,
            text: Page.request.linkText
        });
        $('#linkhtml').val(getLinkCode(url));
        History.collectAndShow(Page);
        CustomAnalytics.collector.collect(
            {
                eventName: 'convert',
                eventAction: 'click',
                message: `${JSON.stringify(Page.request)}`
            }
        );
    };
    var getLinkCode = function(url) {
        return $('#linkcodecontainer').html();
    };

    var isValidURL = function(s) {
        var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
        return regexp.test(s);
    };

    var clear = function() {
        $('#openurl').attr('href', '');
        $('#openurl').text('');
        $('#linkhtml').text('');
        $('#error').text('');
        $('#linkcodecontainer').empty();
        $('#linkcodecontainer').html('<a></a>');
        Page.request = {};
    };
</script>

</html>
