---
title: Crypto Currency Average Calculator| Calculation Tools
layout: post
---
<html>

<head>
    <!-- Meta tags common for website -->
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description"
        content="This is easy to use open source tool to calculate average price of crypto currency and token purchase" />
    <meta name="keywords" content="online,tool,calculator, crypto, bitcoin, currency, average, price" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- header tag from theme -->
        {% include theme-header %}
        <!-- Sidebar for the whole website -->
        {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <!-- left column -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Calculate Crypto Currency Average Price</h3>
                    </div>
                    <div class="box-body" id="tx-input-container">
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="quantity-1">Quantity Bought</label>
                            </div>
                            <div class="col-xs-4">
                                <label for="price-1">Amount Paid</label>
                            </div>
                            <div class="col-xs-4">
                                <label for="average-price-1">Average Price</label>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="quantity-1" value="" />
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="price-1" value="" />
                            </div>
                            <div class="col-xs-4">
                                <p class="text-aqua" id="average-price-1"></p>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="quantity-2" value="" />
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="price-2" value="" />
                            </div>
                            <div class="col-xs-4">
                                <p class="text-aqua" id="average-price-2"></p>
                            </div>                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="quantity-3" value="" />
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="price-3" value="" />
                            </div>
                            <div class="col-xs-4">
                                <p class="text-aqua" id="average-price-3"></p>
                            </div>                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="quantity-4" value="" />
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="price-4" value="" />
                            </div>
                            <div class="col-xs-4">
                                <p class="text-aqua" id="average-price-4"></p>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="quantity-5" value="" />
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="price-5" value="" />
                            </div>
                            <div class="col-xs-4">
                                <p class="text-aqua" id="average-price-5"></p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                          <div class="col-xs-3">
                            <button type="button" class="btn btn-success" id="add"><i class="fa fa-plus"></i>  Add More Lines</button>                                
                          </div>
                          <div class="col-xs-3">
                            <a class="btn btn-info" target="_blank" href="https://tools.fromdev.com/crypto-average-calculator-bulk.html"> <i class="fa fa-upload"></i>Use Bulk Tool (Upload CSV File)</a>
                          </div>
                        </div>
                      </div>
                </div>
            </section>
            <section class="content">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Total Average Price and Quantity</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <p class="lead">Total Average Price/Unit</p>
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control" id="averagePrice" value="" disabled/>
                            </div>
                        </div>                        <div class="row">
                            <div class="col-xs-4">
                                <p class="lead">Total Quantity</p>
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control" id="totalQuantity" value="" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </section>
            <section class="content">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">About Average Crypto Currency Price Calculator Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="img-responsive" src="images/cryptocurrency-average-calculator.jpg"
                            alt="Online  Average Crypto Currency Price Calculator Tool"
                            title="Online  Average Crypto Currency Price Calculator Tool">
                        <p>This is a free online tool to calculate average price of cryptos purchased. Can be really
                            handy tool when you have a dollar cost averaging investment and want to know what is your
                            average purchase price.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Can I use this to calculate fractional quantity average price?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Yes, you can use this tool to calcualte on fractional quantity that is usually the case in all cryptocurrencies and also common in stock market for fractional shares.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">What is a average price?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Average price is calculated using total quantity purchased and total price paid. This tool
                            can also take care of fractional quantity.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Can I use this to calculate average Bitcoin or Ethereum Price?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Yes, you can use this tool to calcualte  the average bitcoin or ethereum price you have
                            paid. This is a general purpose tool that can be used to caculate average price of anything
                            including stocks, crypto currencies like Algorand, Solana, Cardano, Avalanche, Polygon,
                            Loopring, Shiba Inu, Dodge Coin and more.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">How Can I calculate average for more than 5 transactions in this tool?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>You can use add more button to add as many transactions you like. The calculations are automatically updated as you make more entries.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Why do you need this tool to calculate average price?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This tool is a simple way to calculate few transactions average. It can be handy when you are deciding to sell your crypto currencies. I use them to calculate my average price for crypto trading bots manual safety orders on 3commas. It can also be handy to decide buying at a price when you want to bring down the average purchase price.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Crypto Average Calculator - Legal Disclaimer</h3>
                    </div>
                    <div class="box-body">
                        <p>The information and calculations provided by this crypto average calculator tool are for informational purposes only and do not constitute financial advice. The owners and operators of this tool accept no responsibility or liability for any losses, damages, or other consequences that may arise from your use of this calculator.</p>
                        <p>This tool is provided on an "as is" basis without any warranties of any kind, either express or implied. The accuracy, reliability, and completeness of calculations cannot be guaranteed. Cryptocurrency markets are volatile, and investment decisions should be made at your own risk.</p>
                        <p>By using this calculator, you acknowledge that you are solely responsible for your investment decisions and that you understand the risks involved in cryptocurrency trading and investing. If you disagree with these terms, please discontinue use of this calculator immediately.</p>
                    </div>
                </div>
            </section>
            {% include addthis %}
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>

<script>
    $('#calculators-category').addClass('active');
    const inputTemplate = (id) => `<br/><div class="row">
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="quantity-${id}"/>
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control tx-input-field" id="price-${id}"/>
                            </div>
                            <div class="col-xs-4">
                                <p class="text-aqua" id="average-price-${id}"></p>
                            </div>
                        </div>`;
    const caculate = () => {
        const priceQuantityPairs = [];
        const inputRows = $(".tx-input-field").length;
        for (let index = 1; index < (inputRows + 1); index++) {
            const q = $(`#quantity-${index}`).val();
            const p = $(`#price-${index}`).val();
            $(`#average-price-${index}`).text('');
            if(q && p) {
                const pFloat = Number.parseFloat(p);
                const qFloat = Number.parseFloat(q);
                priceQuantityPairs.push({
                    price: pFloat,
                    quantity: qFloat
                });
                const avg = (qFloat > 0) ? pFloat/qFloat : 0;
                $(`#average-price-${index}`).text(avg);
            }
        }
        console.log(`TX#: ${priceQuantityPairs.length}, input #: ${$(".tx-input-field").length}`);
        let totalQuantity = 0;
        (priceQuantityPairs || []).forEach(pair => {
            totalQuantity+=pair.quantity;
        });
        let totalPrice = 0;
        (priceQuantityPairs || []).forEach(pair => {
            totalPrice+=pair.price;
        });
        const average = (totalQuantity > 0) ? totalPrice/totalQuantity : 0;
        $('#averagePrice').val(average);
        $('#totalQuantity').val(totalQuantity);
    };
    const registerInputs = () => {
        $(".tx-input-field").on("input", function() {
            caculate();
        });
    }
    $(document).ready(function () {
        registerInputs();

        $("#add").click(() => {
            const nextIndex = $(".tx-input-field").length + 1;
            $("#tx-input-container").append(inputTemplate(nextIndex));
            registerInputs();
        });
        
        $("#averagePrice").selectOnFocus();
        $("#totalQuantity").selectOnFocus();
        $('#calculators-category').addClass('active');
        $('.markdown-body').attr('style', 'max-width:100%;');
    });
</script>

</html>