---
title: HEIC Image to JPG or JPEG Converter | Developer Tools
layout: post
---
<html>

<head>
  <!-- Meta tags common for website -->
  {% include common-meta %}
  <title>{{ page.title }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="description"
    content="This is easy to use open source tool convert HEIC Image to JPG, JPEG converter online. You can also use this to convert HEIC filese to other popular image formats like PNG." />
  <meta name="keywords" content="online,tool,HEIC,JPG,JPEG,image,picture, PNG,convert,converter,web,opensource" />
  <!-- CSS for the site theme -->
  {% include theme-css %}
  <!-- Annoying IE fixes -->
  {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">

    <!-- header tag from theme -->
    {% include theme-header %}
    <!-- Sidebar for the whole website -->
    {% include theme-sidebar %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <div class="box box-success">
              <div class="box-header with-border">
                <h1 class="box-title">Convert HEIC Image To JPG, JPEG or PNG Format</h1>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="box-body">
                <form role="form">
                  <div class="form-group">
                    <label for="myFile">Upload Image File From Your Computer</label>
                    <input type="file" id="myFile" name="filename">
                  </div>
                </form>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="row">
                  <div class="col-xs-3">
                    <button type="button" class="btn btn-info" id="convert">Convert<i
                        class="fa fa-fw fa-arrow-right"></i></button>
                  </div>
                </div>
              </div>
              <!-- /.box-footer -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="box box-success">
              <div class="box-header with-border">
                <h3 class="box-title">Download Your Converted Image From Here</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="form-group">
                  <label for="base64">Converted Image</label>
                  <div id="target"></div>
                </div>
                
              </div>
              <div class="box-footer">
                <div class="btn-group">
                  <button type="button" class="btn btn-info" id="download"> <i class="fa fa-download"></i> Download Bar Code</button>
                </div>
              </div>

            </div>

          </div>
        </div>
      </section>
      <section class="content">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">About HEIC Image to JPG, JPEG and PNG Converter Tool</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <img class="img-responsive" src="images/image-to-base64.png"
              alt="Image / Video to Base 64 Encoding format converter tool"
              title="Image / Video to Base 64 Encoding format converter tool">
            <p>This is a free online tool to convert a HEIC format image file into a JPG format. You can also use it to
              convert to JPEG or PNG formats.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">What Is Base 64 Encoding Format?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>Base 64 Encding is used to convert a binary raw data format using 64 characters. This a popular way to
              transfer data over network. </p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Why Convert From Image / Video to Base 64 Encoding?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>Many image API use BASE 64 format data as input. This tool can be handy when using such API. This Base64
              value can be easily put as a part of a JSON request body.</p>
          </div>
          <!-- /.box-body -->
        </div>
      </section>
      {% include addthis %}
    </div>
    <!-- /.content-wrapper -->
    {% include theme-footer %}
  </div>
  <!-- ./wrapper -->
  {% include theme-bottom-js %}

</body>
<script src="/plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script src="/javascripts/heic2any.min.js"></script>

<script>
  const showImage = (context) => {
    $("#target").html(`<a target="_blank" download="${context.filename}" href="${context.url}"><img src="${context.url}"></a>`);
  };

  const extractAfterLastIndexOf = (str, ch) => {
    return (str && str.indexOf(ch) > 0)
      ? str.substr(str.lastIndexOf(ch) + 1) : '';
  }
  const getOriginalFileMeta = () => {
    meta = {};
    meta.filePath = $('#myFile').val() || '';
    meta.fileName = extractAfterLastIndexOf(meta.filePath, '\\');
    meta.fileExtension = extractAfterLastIndexOf(meta.fileName, '.');
    return meta;
  };
  const readFileAndConvert = (context) => {
    const filesSelected = document.getElementById('myFile').files;
    if (filesSelected 
          && filesSelected.length > 0 
          && context.originalFileMeta 
          && context.originalFileMeta.fileExtension 
          && context.originalFileMeta.fileExtension.toUpperCase() === 'HEIC') {
      $("#target").html("<p>Converting...</p>");
      context.filename = `${context.originalFileMeta.fileName}.jpg`;
      context.blob = filesSelected[0];
      convert(context);
    } else {
      $("#target").html("<p>Invalid File, unable to convert</p>");
    }
  };

  const download = (context) => {
    let container = new DataTransfer();
    let file = new File([context.blob], `${context.originalFileMeta.fileName}.jpg`, { type: "image/jpeg", lastModified: new Date().getTime() });
    container.items.add(file);
  };

  const convert = (context) => {
    heic2any({
      blob: context.blob,
      toType: "image/jpg",
    }).then(function (resultBlob) {
      context.url = URL.createObjectURL(resultBlob);
      context.callback(context);
    }).catch(function (x) {
      console.log(x.code);
      console.log(x.message);
    });
  };

  $(document).ready(function () {
    $("#convert").click(function () {
      const context = {};
      context.callback = showImage;
      context.originalFileMeta = getOriginalFileMeta();
      readFileAndConvert(context);
    });
    $("#download").click(function () {
      const context = {};
      context.callback = download;
      context.originalFileMeta = getOriginalFileMeta();
      readFileAndConvert(context);
    });

    $("#myFile").selectOnFocus();
    $("#base64").selectOnFocus();
    $('#converters-category').addClass('active');

  });
</script>

</html>