---
title: HTML Link Extractor To Scrape URL From Web Page | Web Tools
layout: post
---
<html>

<head>
    <!-- Meta tags common for website -->
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is easy to use open source tool to extract URL from a HTML document." />
    <meta name="keywords" content="online,tool,html,url,link,web,opensource" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- header tag from theme -->
        {% include theme-header %}
        <!-- Sidebar for the whole website -->
        {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h1 class="box-title">Extract Links From HTML</h1>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="htm">HTML Data</label>
                                        <textarea class="form-control" rows="15" id="htm" placeholder="Enter your HTML data here" autofocus></textarea>
                                        <div style="display:none;" id="hidden"></div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <button type="button" class="btn btn-info" id="extracturl">Extract URLs <i class="fa fa-fw fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Copy Your Links From Here</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="urls">Extracted Unique Links</label>
                                    <textarea class="form-control" id="urls" rows="15" placeholder="Copy your text data from here"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="count">Total URL Count</label>
                                    <h4 class='text-aqua' id="totalcount"> 0 </h4>
                                </div>
                                <div class="form-group">
                                    <label for="count">Unique URL Count</label>
                                    <h4 class='text-green' id="count"> 0 </h4>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                </div>
            </section>
            <section class="content">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">About HTML Link Extractor Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This is a free online tool to extract URLs from a HTML document. You can copy/paste any HTML document in the text area and hit the "Extract URLs" button to get list of all unique links on the HTML page.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">What is a HTML?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>HTML (HyperText Markup Language) is used for web pages. All web pages on internet use this language. Browsers understand this language and render pages accordingly.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">What Is Link?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>A link or URL or HREF value is common name for web page address. A link uniquely identifies a page location on internet.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Why Extract URLs From HTML?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Extracting the URL from HTML pages can be done for many reasons. I like to do it for web scraping and content research. HTML is powerful language for browsers, however, human can not easily read HTML pages. This page can easily
                            extract all reference link from a HTML page and you can use them as you like.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">How Do You Extract URLs From HTML?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Every HTML document contains link in a specific format. We look for anchor tags in HTML document and extract the value of HREF attribute from it. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">My HTML Document Has Duplicate Links. What Can You Do?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p> We automatically remove duplicate links from the results. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script>
    var removeDuplicates = function(arr) {
        var uniques = [];
        $.each(arr, function(i, el) {
            if ($.inArray(el, uniques) === -1) uniques.push(el);
        });
        return uniques;
    };
    var baseUrl = 'http://tools.fromdev.com/';
    var cleanLinks = function(arr, originalText) {
        var cleanLinks = [];
        $.each(arr, function(i, el) {
            el = el.trim();
            if (el) {
                el = el.toLowerCase().startsWith('javascript:') ? '' : el;
                if (originalText.indexOf(el) !== -1) {
                    cleanLinks.push(el);
                } else if (el.indexOf(baseUrl) !== -1) {
                    if (baseUrl.length < el.length - 1) {
                        console.log('stripping ' + baseUrl + ' from ' + el);
                        var cleaned = el.substring(baseUrl.length, el.length - 1);
                        cleanLinks.push(cleaned);
                    }
                }
            }
        });

        return cleanLinks;
    };
    $(document).ready(function() {
        $("#extracturl").click(function() {
            var links = [];
            var originalText = $("#htm").val();
            $(originalText).find('a').each(function() {
                links.push(this.href);
            });
            var uniqueLinks = cleanLinks(removeDuplicates(links), originalText);
            if (uniqueLinks) {
                $("#urls").val(uniqueLinks.join("\r\n"));
                $("#count").text(uniqueLinks.length);
                $("#totalcount").text(links.length);
            }
        });
        $("#urls").selectOnFocus();
        $("#htm").selectOnFocus();
    });
</script>

</html>
