---
title: HTML Link Extractor To Scrape URL From Web Page | Web Tools
layout: post
---
<html>

<head>
    <!-- Meta tags common for website -->
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is easy to use open source tool to extract URL from a HTML document." />
    <meta name="keywords" content="online,tool,html,url,link,web,opensource" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- header tag from theme -->
        {% include theme-header %}
        <!-- Sidebar for the whole website -->
        {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h1 class="box-title">Extract Links From HTML</h1>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="htm">HTML Data</label>
                                        <textarea class="form-control" rows="15" id="htm" placeholder="Enter your HTML data here" autofocus></textarea>
                                        <div style="display:none;" id="hidden"></div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <button type="button" class="btn btn-info" id="extracturl">Extract URLs <i class="fa fa-fw fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Copy Your Text Data From Here</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                              <div class="form-group">
                                  <label for="count">Found Unique URLs</label>
                                  <h3 class='text-green' id="count"> 0 </h3>
                              </div>
                                <div class="form-group">
                                    <label for="urls">Text Data</label>
                                    <textarea class="form-control" id="urls" rows="15" placeholder="Copy your text data from here"></textarea>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                </div>
            </section>
            <section class="content">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">About HTML to Text Converter Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This is a free online tool to convert a HTML formatted data into plain text.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">What is a HTML?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>HTML (HyperText Markup Language) is language of web. HTML is the language that all browsers understand and use to display web pages.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">What Is Plain Text Format?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>In plain text format everything is represented as simple plain text. All special formatting of HTML will be removed when we convert it to text. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Why Convert From HTML to Text?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This can be a easy way to scrape useful data from web pages on internet in your favorite document or a simple text file.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script>
    var removeDuplicates = function(arr) {
        var uniques = [];
        $.each(arr, function(i, el) {
            if ($.inArray(el, uniques) === -1) uniques.push(el);
        });
        return uniques;
    };
    $(document).ready(function() {
        $("#extracturl").click(function() {
            var links = [];
            $($("#htm").val()).find('a').each(function() {
                links.push(this.href);
            });
            var uniqueLinks = removeDuplicates(links);
            if (uniqueLinks) {
                $("#urls").val(uniqueLinks.join("\r\n"));
                $("#count").text(uniqueLinks.length);
            }
        });
        $("#urls").selectOnFocus();
        $("#htm").selectOnFocus();
    });
</script>

</html>
