---
title: HTML To Text Converter | Developer Tools
layout: post
---
<html>

<head>
    <!-- Meta tags common for website -->
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is easy to use open source tool to convert HTML to text online. Use this tool to extract plain text from the HTML documents." />
    <meta name="keywords" content="online,tool,html,text,convert,converter,web,opensource" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- header tag from theme -->
        {% include theme-header %}
        <!-- Sidebar for the whole website -->
        {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h1 class="box-title">Convert HTML To Text Format</h1>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="htm">HTML Data</label>
                                        <textarea class="form-control" rows="15" id="htm" placeholder="Enter your HTML data here" autofocus></textarea>
                                        <div style="display:none;" id="hidden"></div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <button type="button" class="btn btn-info" id="convert2text">Convert to Text <i class="fa fa-fw fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Copy Your Text Data From Here</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                  <label for="txt">Text Data</label>
                                    <textarea class="form-control" id="txt" rows="15" placeholder="Copy your text data from here"></textarea>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                </div>
            </section>
            <section class="content">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">About HTML to Text Converter Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This is a free online tool to convert a HTML formatted data into plain text.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">What is a HTML?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>HTML (HyperText Markup Language) is language of web. HTML is the language that all browsers understand and use to display web pages.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">What Is Plain Text Format?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>In plain text format everything is represented as simple plain text. All special formatting of HTML will be removed when we convert it to text. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Why Convert From HTML to Text?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This can be a easy way to scrape useful data from web pages on internet in your favorite document or a simple text file.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Can I Use This Tool To Convert My HTML Emails to Text Format?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Yes, this tool can easily convert your HTML formatted emails to plain text format. Just copy and paste your HTML code here and hit "Convert to Text" button.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </section>
            {% include addthis %}
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script>
   $(document).ready(function() {
      $("#convert2text").click(function(){
          var hiddenDiv = $("#hidden");
          hiddenDiv.html($("#htm").val());
          $("#txt").val('');
          $("#txt").val(hiddenDiv.text());
          hiddenDiv.empty();
      });

      $("#txt").selectOnFocus();
      $("#htm").selectOnFocus();
      $('#converters-category').addClass('active');
      $('.markdown-body').attr('style', 'max-width:100%;');
   	});
</script>
</html>
