---
title: Image to Base64 Converter | Developer Tools
layout: post
---
<html>

<head>
    <!-- Meta tags common for website -->
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is easy to use open source tool convert Image to Base 64 encoding online. You can also use this to convert Video to Base 64 encoding." />
    <meta name="keywords" content="online,tool,base64,encoding,text,image,picture, video,convert,converter,web,opensource" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- header tag from theme -->
        {% include theme-header %}
        <!-- Sidebar for the whole website -->
        {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h1 class="box-title">Convert Image or Video To Base 64 Format Text</h1>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="myFile">Upload Image or Video File From Your Computer</label>
                                        <input type="file" id="myFile" name="filename">
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <button type="button" class="btn btn-info" id="convert2base64">Convert to Base 64<i class="fa fa-fw fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Copy Your Base 64 Data From Here</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                  <label for="base64">JSON Data</label>
                                    <textarea class="form-control" id="base64" rows="10" placeholder="Copy your Base 64 data from here"></textarea>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>
            <section class="content">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">About CSV to JSON Converter Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="img-responsive" src="images/csv2json.png" alt="CSV to JSON format converter tool" title="CSV to JSON format converter tool">
                        <p>This is a free online tool to convert a CSV file into a JSON array. You can also use it to convert from JSON to CSV. The default CSV delimiter is assumed to be comma, however you can changed it by selecting delimiter from drop
                            down menu.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">What is a CSV?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>CSV or Comma Separated Values is a popular format to store large data tables. Tools like microsoft excell and many other software export data in this format. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">What Is JSON Format?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>JSON (JavaScript Object Notation) is way to represent data in JavaScript object format. It is popular for programming purposes. Many application programs interact using JSON format data. Most of REST API development is preferred
                            in this format. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Why Convert From CSV to JSON?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>CSV data can be easy to read for human, however JSON data format can be used by JavaScript and other software easily. Many tools may support JSON format and you can import your data by simply converting from CSV to JSON.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </section>
            {% include addthis %}
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script>

  const encodeImageFileAsURL = () => {
    const filesSelected = document.getElementById('myFile').files;
    if (filesSelected && filesSelected.length > 0) {
      var file = filesSelected[0];
      var reader = new FileReader();
      reader.onloadend = function() {
        $("#base64").val(reader.result);
        console.log('RESULT', reader.result)
      }
      reader.readAsDataURL(file);
    } else {
      $("#base64").val("Invalid File, unable to convert");
    }
  };

	 $(document).ready(function() {
      $("#convert2base64").click(function(){
        encodeImageFileAsURL();
      });

      $("#csv").selectOnFocus();
      $("#json").selectOnFocus();
      $('#converters-category').addClass('active');

   	});
</script>
</html>
