---
title: Online Developer Tools | FromDev
layout: post
--- 
<html>

<head>
   {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source collection of online tools for developers and programmers to stay productive on their job." />
    <meta name="keywords" content="online,tool,developer,programming,web,opensource" />

    {% include theme-css %}
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

{% include theme-header %}
{% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Online Developer Tools Website By Fromdev.</h1>
            </section>
            <!-- Main content -->
              <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Welcome</h3>
                    </div>
                    <div class="box-body">
                        <p>This website is dedicated to online tools for developer. There are many small tools that can be used everyday by developers. Having them online makes it more convenient. These tools are not extraordinary however, they can help
                            you stay productive by speeding up small repeatitive tasks that are often required. </p>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->
                <div class="row">
                    <div class="col-sm-6">

                        <div class="info-box">
                            <a href="string-util.html">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-edit"></i></span>
                            </a>
                            <div class="info-box-content">
                                <span class="info-box-text">String Utility</span>
                                <span class="info-box-number">Escape, Unescape &amp; more</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                        <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">String Utility Tools</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>These are set of tools related to string and text manipulation. These tools can really useful in everyday text editing and changes.</p>
                       <ul class="nav">
                            <li><a href="html-escape-unescape.html"><i class="fa fa-circle-o text-aqua"></i> HTML Escape</a></li>
                            <li><a href="javascript-escape-unescape.html"><i class="fa fa-circle-o text-aqua"></i> JavaScript Escape</a></li>
                            <li><a href="xml-escape-unescape.html"><i class="fa fa-circle-o text-aqua"></i> XML Escape</a></li>
                            <li><a href="url-encode-decode.html"><i class="fa fa-circle-o text-aqua"></i> URL Encode | Decode</a></li>
                            <li><a href="string-util.html"><i class="fa fa-circle-o text-aqua"></i> Change Case</a></li>
                            <li><a href="word-counter.html"><i class="fa fa-circle-o text-aqua"></i> Word Counter</a></li>                            
                        </ul>                    
                    </div>
                    <!-- /.box-body -->
                </div>

                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fa fa-shield"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Security</span>
                                <span class="info-box-number">Password gen, MD5 &amp; more</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-bullseye"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">SEO</span>
                                <span class="info-box-number">Metatag, title suggestion &amp; more</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-star-o"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Other Tools</span>
                                <span class="info-box-number">QR Code generator &amp; more</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
{% include theme-footer %}
    </div>
    <!-- ./wrapper -->
{% include theme-bottom-js %}

</body>
</html>
