---
title: Online Developer Tools | FromDev
layout: post
--- 
<html>

<head>
   {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source collection of online tools for developers and programmers to stay productive on their job." />
    <meta name="keywords" content="online,tool,developer,programming,web,opensource" />

    {% include theme-css %}
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

{% include theme-header %}
{% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Online Developer Tools Website By Fromdev.</h1>
            </section>
            <!-- Main content -->
              <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Welcome</h3>
                    </div>
                    <div class="box-body">
                        <p>This website is dedicated to online tools for developer. There are many small tools that can be used everyday by developers. Having them online makes it more convenient. These tools are not extraordinary however, they can help
                            you stay productive by speeding up small repeatitive tasks that are often required. </p>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">String Utility Tools</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>These are set of tools related to string and text manipulation. These tools can really useful in everyday text editing and changes.</p>
                       <p>I use the CamelCase tool a lot of times for formatting the blog headings. I am sure you will often find other string utilities useful. </p>
                    </div>
                    <!-- /.box-body -->
                </div>

                    </div>
                    <!-- /.col -->
                   <div class="col-md-4">
                        <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Security and Cryptography Tools</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>These are set of tools related to information security and cryptography. </p>
                       <p>I use the memorable password generator tool a lot of times for picking a secure yet memorable password. </p>
                    </div>
                    <!-- /.box-body -->
                </div>

                    </div>
                    <!-- /.col -->
                   <div class="col-md-4">
                        <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Engine Optimization Tools</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>These are set of tools related to SEO for any website. Search engine optimization is essential for many websites to gain organic search traffic. </p>
                       <p>This tools website uses the meta tag generator for all pages. I find the title suggesion tool very useful for casual blogging and articles sharing on social networks. </p>
                    </div>
                    <!-- /.box-body -->
                </div>

                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                <div class="col-md-4">
                        <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Converter Tools</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>These are set of tools related to data and format conversion. These will help you quicly convert a popular format of data into antoher popular format. </p>
                       <p>I use the CSV to HTML table converter a lot of time. This is one of the easiest way to convert your Google spreadsheet data in to a HTML table and display on a web page. </p>
                    </div>
                    <!-- /.box-body -->
                </div>

                    </div>
                    <!-- /.col -->
                   <div class="col-md-4">
                        <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Generation Tools</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>These are set of tools related to code or data generation for common needs. </p>
                       <p>I use the CSS button generator for creating simple yet beautiful looking buttons on HTML pages. </p>
                    </div>
                    <!-- /.box-body -->
                </div>

                    </div>
                    <!-- /.col -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
{% include theme-footer %}
    </div>
    <!-- ./wrapper -->
{% include theme-bottom-js %}

</body>
</html>
