---
title: This is my title
layout: post
--- 
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google-site-verification" content="1o1e0ua6-FNTnb7NXZtWB7lfmLB-y68A1Iex4duLO9c" />
	<title>Online Developer Tools By Fromdev</title>
	<meta name="description" content="This is open source collection of online tools for developers and programmers to stay productive on their job." />
	<meta name="keywords" content="online,tool,developer,programming,web,opensource" />
	<meta name="language" content="English" />
	<meta name="revisit-after" content="1" />
	<link rel="canonical" href="http://tools.fromdev.com" />
	<link rel="author" href="Sachin Joshi" />
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <section>
        <h1>Online Developer Tools Website By Fromdev.</h1>
     
<p>Welcome to Online Developer Tools Website By Fromdev. This website is dedicated to online tools for developer. There are many small tools that can be used everyday by developers. Having them online makes it more convenient. These tools are not extraordinary however, they can help you stay productive by speeding up small repeatitive small tasks that are often required. </p>

<h3>What Tools Do We Have?</h3>
	<div class="separator" style="clear: both; text-align: center;">
		<img border="0" height="480" src="images/dev-tools.png" width="640" />
	</div> 
<p>We have tried to add tools that are easily used online in any browser. This includes some of the tools listed below</p>
	      <ul>
		      <li><a href="https://fromdev.github.io/tools/url-encode-decode.html">HTTP URL Encoding and Decoding Tools</a></li>
		      <li>More Tools to come. Bookmark this page....</li>
	      </ul>
      </section>
      {% include footer.html %}
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
  </body>
</html>
