---
title: JavaScript String Escape Online | Developer Tools
layout: post 
---
<html>

<head>
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source tool for programmers to escape or unescape a String value for JavaScript code use." />
    <meta name="keywords" content="online,tool,javascript,js,escape,unescape,encode,decode,web,opensource,http" /> {% include theme-css %} {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        {% include theme-header %} {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h1 class="box-title">JavaScript Escape String Tool</h1>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="20" placeholder="Copy/Paste text here to escape or unescape" id="inputText" autofocus></textarea>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-success" id="escape"> Escape </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </section>
            <section class="content">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">About JavaScript String Escape Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This is a free online tool to escape JavaScript strings. You can copy/paste your desired string in below text field and hit Escape button. This tool will help you convert simple string containing newlines <code>\n</code>, quotes (e.g. <code>"</code> &amp; <code>'</code> )  and some special unicode characters into a quoted string literal value for JSON or Javascript programming source.</p>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">What is JavaScript Escaping?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>JavaScript escaping is used to represent special meaning characters in a JavaScript code. e.g. less than symbol <code>&lt;</code> has a special meaning in JavaScript programming language. But in case your data contains a less than
                            symbol <code>&lt;</code> and you want to send it without confusing the browser then you need to send it as &amplt; instead of <code>&lt;</code> . Simlarly there are many other special characters that can be used as part of
                            JavaScript programming. Below sample list can give you a idea of what this means.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">JavaScript Escaping Characters</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Character</th>
                                    <th>JavaScript Escape Value</th>
                                </tr>
                                <tr>
                                    <td>quote (")</td>
                                    <td>\"</td>
                                </tr>
                                <tr>
                                    <td>single quote (')</td>
                                    <td>\'</td>
                                </tr>
                                <tr>
                                    <td>Nul char</td>
                                    <td>\0</td>
                                </tr>
                                <tr>
                                    <td>Horizontal Tab</td>
                                    <td>\t</td>
                                </tr>
                                <tr>
                                    <td>Vertical Tab</td>
                                    <td>\u000B or \v</td>
                                </tr>
                                <tr>
                                    <td>New line</td>
                                    <td>\n</td>
                                </tr>
                                <tr>
                                    <td>Carriage return</td>
                                    <td>\r</td>
                                </tr>
                                <tr>
                                    <td>Backslash</td>
                                    <td>\\</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Want To Know What Is The JavaScript Escaped Value of a Character?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>That is easy. Just type the character or a full string in the text box above and hit Escape button. You should be able to see the escaped value.</p>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">What Characters Need To Be Escaped?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Only few special meaning character need to be escaped. These characters have special use in JavaScript programming language. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Some Key Things To Note About Escaping In JavaScript</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul>
                            <li>Note that the javascript escaped string is not necessarily valid JSON, since control characters are considered illegal in JSON.</li>
                            <li>Note that the <code>\'</code> , <code>\v</code> and <code>\0</code> escapes are considered illegal in JSON and are not allowed strings.</li>
                            <li>Note that Internet Explorer versions older than 9 takes <code>\v</code> as <code>v</code> instead of a vertical tab <code>\x0B</code>.</li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Why Do You Need Javascript Online Escape Tool?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="img-responsive" src="images/javascript-escape-tool.png" alt="JavaScript online string literal escape tool" title="JavaScript online string literal escape tool">
                        <p>Escaping a String inside javascript code can be cumbersome task if the string value is large. This kind of tool can easily apply all escaping rules to avoid unwanted errors in a JavaScript code. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Is JavaScript String Escape Value Same As JSON?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>JSON and JavaScript escaping is not exactly same. There are few special characters that need to be escaped differently in JSON. Though, most characters are escaped the same way you can not assume it will always be same. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Is JavaScript String Escape Same As escape() function in JavaScript?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p> The JavaScript <code>escape()</code> function is not same as JavaScript string literal escaping. The JavaScript <code>escape()</code> function is a deprecated (since JavaScript 1.5) function that was used for <a href="https://tools.fromdev.com/url-encode-decode.html" alt="URL Encoding and Decoding online" title="URL Encoding and Decoding online">URL encoding</a>. It is recommended to use <code>encodeURI()</code> instead. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">How can I learn JavaScript?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p> JavaScript programming language is very easy yet powerful. You can start with some beginners tutorials we have compiled <a href="https://www.fromdev.com/2013/08/Javascript-Tutorials.html" alt="Huge list of JS tutorials on internet" title="Huge list of JS tutorials on internet">here</a>.  </p>
                        <p> You can also refer to some good books <a href="https://www.fromdev.com/2012/10/JavaScript-Books-Developer-Must-Read.html" alt="Top recommended JS books for beginners" title="Top recommended JS books for beginners">here</a>.  </p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </section>
            {% include addthis %}
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script>
    var escapeIt = function(string) {
        return ('' + string).replace(/["'\\\n\r\/\u2028\u2029\u000B]/g, function(character) {
            // Escape all characters not included in SingleStringCharacters and
            // DoubleStringCharacters on
            // http://www.ecma-international.org/ecma-262/5.1/#sec-7.8.4
            switch (character) {
                case '"':
                case "'":
                case '\\':
                case '\/':
                    return '\\' + character
                        // Four possible LineTerminator characters need to be escaped:
                case '\n':
                    return '\\n'
                case '\r':
                    return '\\r'
                case '\u2028':
                    return '\\u2028'
                case '\u2029':
                    return '\\u2029'
                case '\u000B':
                    return '\\u000B'
            }
        })
    };
    $(document).ready(function() {
        $("#escape").click(function() {
            var inputTextArea = $("#inputText");
            inputTextArea.val(escapeIt(inputTextArea.val()));
        });
        $("#inputText").selectOnFocus();
        $('#string-utility-category').addClass('active');
    });
</script>

</html>
