---
title: JPEG / JPG Image to PDF Converter | Developer Tools
layout: post
---
<html>

<head>
  <!-- Meta tags common for website -->
  {% include common-meta %}
  <title>{{ page.title }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="description"
    content="This is easy to use open source tool to convert JPEG Image to PDF online." />
  <meta name="keywords" content="online,tool,JPG,JPEG,PDF,convert,converter,web,opensource" />
  <!-- CSS for the site theme -->
  {% include theme-css %}
  <!-- Annoying IE fixes -->
  {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">

    <!-- header tag from theme -->
    {% include theme-header %}
    <!-- Sidebar for the whole website -->
    {% include theme-sidebar %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <div class="box box-success">
              <div class="box-header with-border">
                <h1 class="box-title">Convert JPG / JPEG Image To PDF Format</h1>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="box-body">
                <form role="form">
                  <div class="form-group">
                    <label for="myFile">Upload Image File From Your Computer</label>
                    <input type="file" id="myFile" name="filename">
                  </div>
                  <div class="form-group">
                    <p id="error" class="text-red"></p>
                  </div>
                </form>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="row">
                  <div class="col-xs-3">
                    <button type="button" class="btn btn-info" id="convert">Convert<i
                        class="fa fa-fw fa-arrow-right"></i></button>
                  </div>
                </div>
              </div>
              <!-- /.box-footer -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="box box-success">
              <div class="box-header with-border">
                <h3 class="box-title">Download Your Converted PDF From Here</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="form-group">
                  <label for="base64">Conversion Status</label>
                  <div id="target"></div>
                </div>

              </div>
              <div class="box-footer" id="download-div" style="display:none">
                <div class="btn-group">
                  <a class="btn btn-info" target="_blank" id="download" href="#"> <i class="fa fa-download"></i> Download Converted PDF File</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="content">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">About HEIC Image to JPG, JPEG, PNG and GIF Converter Tool</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <img class="img-responsive" src="images/jpg-to-pdf.png"
              alt="JPG and JPEG Image to PDF format converter tool"
              title="JPG and JPEG Image to PDF format converter tool">
            <p>This is a free online tool to convert a JPEG format image file into PDF format.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">What Is JPEG Encoding Format?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>The JPEG (Joint Photographic Experts Group) encoding format is a widely-used method of compressing digital images, particularly for photographs and web graphics. JPEG uses lossy compression, which reduces file size by selectively discarding data, resulting in some loss of image quality that is often imperceptible to the human eye. The compression process involves converting the image from the RGB color space to the YCbCr color space, then performing discrete cosine transform (DCT) on 8x8 pixel blocks to identify frequency components. High-frequency details are then reduced or eliminated, and the remaining data is further compressed using entropy coding techniques like Huffman coding.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Why should we convert JPG to  PDF?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>Converting JPG to PDF can be beneficial for several reasons:</p>
          <ol>
          <li>Preservation of Image Quality: PDF files can embed images without further compression, preserving the original quality of the JPG.</li>
          <li>Document Integration: PDFs can combine multiple images and other document elements (text, vector graphics) into a single file, making it easier to manage and share comprehensive documents.</li>
          <li>Standardization: PDF is a widely accepted standard for sharing and printing documents, ensuring consistent display across different devices and platforms.</li>
          <li>Security and Access Control: PDFs offer features like password protection, encryption, and restricted access, providing better control over document security.</li>
          <li>Annotation and Markup: PDFs support annotations, comments, and form fields, which can be useful for collaboration and feedback.</li>
          <li>Portability and Compatibility: PDFs maintain consistent formatting and layout, ensuring that the document looks the same on any device or operating system.</li>
          </ol>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">What is the difference between .JPG and .JPEG file?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
          <p>The terms <strong>"JPG"</strong> and <strong>"JPEG"</strong> refer to the same image file format and are essentially interchangeable. Here are the key points about their differences and similarities:</p>
          <ul>
              <li><strong>Origin:</strong> Both terms stand for the same format developed by the Joint Photographic Experts Group. The format's full name is JPEG (Joint Photographic Experts Group).</li>
              <li><strong>File Extension:</strong>
                  <ul>
                      <li><strong>JPEG:</strong> The original file extension for images in this format.</li>
                      <li><strong>JPG:</strong> A shortened version of the extension used primarily due to the limitations of early Windows versions, which required three-letter file extensions.</li>
                  </ul>
              </li>
              <li><strong>Compatibility:</strong> Both extensions are widely supported across various devices and platforms. Modern operating systems and software recognize and handle both .jpg and .jpeg files without any issues.</li>
              <li><strong>Interchangeability:</strong> You can rename a file from .jpg to .jpeg and vice versa without affecting the file's integrity or functionality.</li>
          </ul>
          <p>In summary, there is no difference in the actual format or functionality between JPG and JPEG; the distinction is purely in the file extension.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Can I download converted PDF File?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>Yes, this tool is completely free to use. You can download converted PDF file using the download button that appears after conversion.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Are my photos converted on client side or server side?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>This tool uses a client side only library to do conversion. Therefore the photos you upload never get transfered over internet.</p>
            <p>This tool is a free to use and open source therefore we are not using any server side technology to convert or store photos.</p>
            <p>Photos are not stored anywhere, so you need to convert them everytime you require it. </p>
            <p>Only one conveted photo stays in browser memory so everytime you convert a photo the last photo will be lost.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Why is the image size so high after conversion?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>The HEIC image format quality is usually very high. This format is very efficient in storing images. However, when we convert it to other lower efficient formats the image size increases drastically.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">How to reduce converted image size?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>To reduce the size of image you must chose to lowe the quality. Please select quality option from menu to reduce the quality of converted image. Lower quality ==> Lower file size of image.</p>
          </div>
          <!-- /.box-body -->
        </div>
      </section>
      {% include addthis %}
    </div>
    <!-- /.content-wrapper -->
    {% include theme-footer %}
  </div>
  <!-- ./wrapper -->
  {% include theme-bottom-js %}

</body>
<script src="/plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script src="/plugins/jspdf/2.4.0/jspdf.umd.min.js"></script>

<script>
  async function convertToPDF() {
    const { jsPDF } = window.jspdf;

    // Get the uploaded file
    const input = document.getElementById('myFile');
    const file = input.files[0];
    if (!file) {
        alert('Please upload a JPG file.');
        return;
    }
    const fileName = file.name.split('.').slice(0, -1).join('.');

    // Read the file as a data URL
    const reader = new FileReader();
    reader.readAsDataURL(file);

    reader.onload = function(event) {
        const imgData = event.target.result;
        // Create a new PDF document
        const pdf = new jsPDF();
        pdf.addImage(imgData, 'JPEG', 0, 0, pdf.internal.pageSize.getWidth(), pdf.internal.pageSize.getHeight());
        const pdfDataUrl = pdf.output('dataurlstring');
        const context = {
          filename: `${fileName}.pdf`,
          url: pdfDataUrl,
        };
        showPDF(context);
    };

    reader.onerror = function() {
        alert('Failed to read file.');
    };
};

const showPDF = (context) => {
  $("#target").html("<i class='fa fa-refresh fa-spin'></i> <p>Conversion Completed</p>");
  $('#download').attr('download', context.filename);
  $('#download').attr('href', context.url);
  $('#download-div').show();
};

const showInProgress = () => {
  $('#error').text('');
  $("#target").html("<i class='fa fa-refresh fa-spin'></i> <p>Converting...</p>");
  $('#download-div').hide();
};

  $(document).ready(function () {

    $("#convert").click(function () {
      showInProgress();
      convertToPDF();
    });

    $("#myFile").selectOnFocus();
    $("#base64").selectOnFocus();
    $('#converters-category').addClass('active');

  });
</script>

</html>
