---
title: Calculate MD5 Hash Online | Developer Tools
layout: post 
---
<html>

<head>
    <!-- Meta tags common for website -->
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is easy to use open source MD5 Hash generation tool. This can be used to generate MD5 hashed valye of any text input." />
    <meta name="keywords" content="online,tool,md5,hash,function,browser,secure,web,opensource" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- header tag from theme -->
        {% include theme-header %}
        <!-- Sidebar for the whole website -->
        {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h1 class="box-title">Calculate MD5 Hash</h1>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="20" placeholder="Copy/Paste text here to generate MD5 hash" id="inputText" autofocus></textarea>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-success" id="calculate">Calculate MD5 Hash</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </section>
            <section class="content">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">About MD5 Calculation Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This is a free online tool to generate MD5 hash of any give string. You can copy/paste your desired string/text in below text field and hit Calculate MD5 button.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">What is MD5 Hashing?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>MD5 (Message Digest algorithm 5) hashing is a algorithm to calculate one way hash of a given text. It is a 32 digit hexadecimal number representing a string. It was created by Ronald Rivest in 1991. Hashing is popular way to store
                            passwords. It produces 128 bit hash value of a string.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Want To Know What Is The MD5 Value of a Character?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>That is easy. Just type the character or a full string in the text box above and hit <b>Calculate MD5 Hash</b> button. You should be able to see the MD5 hash value.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Can I Recover Original String From MD5 Hash?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>MD5 is a one way hashing algorithm. This means you can convert a string to hash but there is not mathematical way to reverse generate the orignial string. </p>
                        <p>At the same time it is not impossible to know the respective string value for a given hash. You can generate MD5 hash of all possible combination of strings and match them. This is very popular to guess MD5 value of common passwords.
                            For example search this string on google <code>5f4dcc3b5aa765d61d8327deb882cf99</code> and you will be able to find the string value of it is "password" </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Is MD5 Hashing Considered Secure Enough?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>MD5 is highly secure algorithm however, it is not recommended to use it for saving passwords. MD5 is a very fast algorithm that makes it easy for a hacker to calculate MD5 hash of billions of strings in short time. This can serve
                            as a simple lookup table for hacker to find actual string value. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Is MD5 Good For Storing Passwords?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>No, MD5 is not good enough to store passwords. MD5 does not require <code>salt</code> therefore its easier to crack. You need to use stronger hashing algorithm with <code>salt</code> like SHA-256 or better instead.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Where Should I Use MD5?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>MD5 algorithm can be used for following use cases. </p>
                        <ul>
                            <li>MD5 is heavily used file and data integrity checks.</li>
                            <li>MD5 is 32 digit code, therefore it can be useful for fixed length token requirements, e.g. license key.</li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script src="javascripts/md5.min.js"></script>

<script>
    $(document).ready(function() {
        $("#calculate").click(function() {
            var inputTextArea = $("#inputText");
            inputTextArea.val(md5(inputTextArea.val()));
        });
        $("#inputText").selectOnFocus();

    });
</script>

</html>
