---
title: This is my title
layout: post
---
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Easy To Remember Secure Password Generator | Developer Tools</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <section>
        <h1>Memorable Secure Password Generator</h1>
        <div class="form">
          <label for="result">Memorable password </label>
          <input name="result" id="result" type="text" placeholder="Copy password from here"/>
          <div id="strength"><label for="strength">Password Strength: </label></div>
          <label for="words">Your memorable word(s) </label>
          <input type="text" id="words" name="words" value="" placeholder="Enter a word(s) or sentence that you can remember" autofocus="true">
        </div>
        <div class="subsection">
          <a class="button" id="submit">Generate Password</a>
        </div>
      </section>
	<section>
		<h3>About Easy To Remember Secure Password Generator Tool</h3>
	  <p>This is a free online tool to do simple password generation that you can easily remember. Generally coming up with a secured password is not easy. Even if you create a secure password it become hard to remember. This password tool can suggest a complex password based on your choice of words or sentences. </p>
		<h3>Why Password Generator Is Needed?</h3>
		<p>Complex password is essential to keep your data secure online. All complex passwords may not be easy to remember. We use simple simple well known techniques to suggest relatively secure passwords. This helps you stay secure at the same time remember your password.</p>
    <h3>How To Remember This Password?</h3>
    <p>Since the password is based on your input it may be easy to remember. We do minor noticeable changes in your words to generate a complex looking password. Some techniques are obvious and some you can learn as you see them.</p>
    <h3>How Secure is This Password?</h3>
    <p>Since this password is based on your input its complexity mainly depends on your inputs. We are just doing some random replacements in your words to me make it little complex. It is also well known fact that no password is secure. However, as the complexity is high there is a low risk of compromise.</p>
    <p>Please note that we are using a randomization logic to generate these passwords and sometimes you may end up with not very complex password. We recommend you to retry generation and do it until you think it is complex enough.</p>
    <h3>How to Remember This Password?</h3>
    <p>We randomly replace the alphabets with their similar looking characters. This will make it easy to remember but partly random password. For example letter lowercase <code>s</code> can be replaced with any one of these <code>S, 5, $</code></p>
    <h3>What Should I Enter In Memorable Words Field?</h3>
    <p>You can enter a word or sentence that you can remember easily. For example, you can use a street address, or favorite movie title, or anything that you can remember in future.</p>
    <p>Note: Do not enter any sensitive informaiton on this page.</p>
	</section>
	{% include footer.html %}
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://fromdev.github.io/fromdev-static/javascripts/jquery.selectOnFocus.js"></script>
    <script src="javascripts/passutil.js"></script>
	  <script>
    var showStrength = function() {
      $("#strength").html('<label for="strength">Password Strength: </label>' + checkPassStrength($("#result").val()));
    };
    var generateAndShowPassword = function() {
      $("#result").val('');
      var inputString = $("#words").val();
      if(inputString) {
        $("#result").val(securePasswordFromInputString(inputString));
      } else {
        $("#words").focus();
      }
      showStrength();
    };

    $(document).ready(function() {
      $("#submit").click(generateAndShowPassword);
      $("#result").selectOnFocus();
      $("#result").on("input", function() {
          showStrength();
      });
      $('#words').keypress(function (e) {
       var key = e.which;
       if(key == 13) {
          generateAndShowPassword();
          return false;
        }
      });
    });

  	</script>

	</body>
</html>
