---
title: Search Online Developer Tools | FromDev
layout: post
--- 
<html>

<head>
   <link rel="canonical" href="https://tools.fromdev.com">
   {% include common-meta %}
   {% feed_meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source collection of online tools for developers and programmers to stay productive on their job." />
    <meta name="keywords" content="online,tool,developer,programming,web,opensource" />
    <script async src="https://cse.google.com/cse.js?cx=40b77553fe1b52f4c"></script>

    {% include theme-css %}
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

{% include theme-header %}
{% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Search Results</h1>
            </section>
            <!-- Main content -->
              <section class="content">
                <div class="gcse-searchresults-only"></div>
                <!-- <div class="gcse-searchresults" data-linkTarget="_self" data-refinementStyle="link" data-autoSearchOnLoad="true"></div> -->
                <div class="gcse-searchbox" data-enableHistory="true" data-autoCompleteMaxCompletions="5" data-autoCompleteMatchType='any'>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
{% include theme-footer %}
    </div>
    <!-- ./wrapper -->
{% include theme-bottom-js %}

</body>
</html>
