---
title: This is my title
layout: post
---
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Secure Password Generator | Developer Tools</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <section>
        <h1>Secure Password Generator Tool</h1>
        <div class="form">
          <input name="result" id="result" type="text" placeholder="Copy password from here"></textarea>
          <label for="length">Choose Password Length </label><select name="length" id="length">
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected="selcted">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
          </select>
        </div>
        <div class="subsection">
          <a class="button" id="submit">Generate Password</a>
        </div>

      </section>
	<section>
		<h3>About Secure Password Generator Tool</h3>
	  <p>This is a free online tool to do simple password generation for your needs. Most people can just copy the default password automatically suggested as soon as you visit this page. You can refresh the page to get new password with 10 character (default) length or You can select a desired length of password from the drop down and hit generate button to generate a new absolutely random password. </p>
		<h3>Why Password Generator Is Needed?</h3>
		<p>Everyone has multiple online accounts and need to maintain complex password for various places. If you keep same password for all accounts it is vulnerable. Therefore it is nice to have a simple utility that can generate a random password.</p>
    <h3>How To Remember This Password?</h3>
    <p>Unfortunately this password generator is absolutely random in behavior and therefore you may not be easily able to remember it. However, we recommend you to use secure password manager applications to save your password.</p>
	</section>
	{% include footer.html %}
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://fromdev.github.io/fromdev-static/javascripts/jquery.selectOnFocus.js"></script>
	  <script>
    var securePassword = function(length) {
          if (length<8) {
            length = 8;
          }
          var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
          var retVal = "";
      for (var i = 0, n = charset.length; i < length; ++i) {
          retVal += charset.charAt(Math.floor(Math.random() * n));
      }
      return retVal;
  };
  $(document).ready(function() {
    $("#submit").click(function() {
      $("#result").val('');
      $("#result").val(securePassword($("#length").val()));
    });
    $("#result").selectOnFocus();
    $("#result").val(securePassword($("#length").val()));
  });

	</script>

	</body>
</html>
