---
title: Secure Password Generator | Developer Tools
layout: post
---
<html>

<head>
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source tool to generate complex and secure password based on random characters generation of required length." />
    <meta name="keywords" content="online,tool,password,secure,complext,web,opensource" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

      <!-- header tag from theme -->
      {% include theme-header %}
      <!-- Sidebar for the whole website -->
      {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h1 class="box-title">Secure Password Generator Tool</h1>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="result">Generated Password</label>
                                <input type="text" class="form-control" rows="1" placeholder="Copy password from here" id="result" />
                            </div>
                            <div class="form-group">
                                <label for="length">Choose Password Length </label>
                                <select class="form-control" name="length" id="length">
                                 <option value="8">8</option>
<option value="9">9</option>
<option value="10" selected="selcted">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
</select>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-success" id="submit">Generate Password</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </section>
            <section class="content">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">About Secure Password Generator Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This is a free online tool to do simple password generation for your needs. Most people can just copy the default password automatically suggested as soon as you visit this page. You can refresh the page to get new password with
                            10 character (default) length or You can select a desired length of password from the drop down and hit generate button to generate a new absolutely random password. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">How To Use This Password Generator</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>You can use this to generate complex, secure and random password for any need. This page automatically generates the password of length 10 as soon as you land on it. Most of the times, I just copy that password and use it. This password is not saved anywhere so you need to keep it in a secure password manager or your favorite browser keychain.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Why Password Generator Is Needed?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Everyone has multiple online accounts and need to maintain complex password for various places. If you keep same password for all accounts it is vulnerable. Therefore it is nice to have a simple utility that can generate a random
                            password.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">How To Remember This Password?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Unfortunately this password generator is absolutely random in behavior and therefore you may not be easily able to remember it. However, we do have a <a href="memorable-secure-password-generator.html">memorable password generator</a>                            that you can use. We also recommend you to use secure password manager applications to save your password.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script src="javascripts/passutil.js"></script>

<script>
    $(document).ready(function() {
        $("#submit").click(function() {
            $("#result").val('');
            $("#result").val(securePassword($("#length").val()));
        });
        $("#result").selectOnFocus();
        $("#result").val(securePassword($("#length").val()));
        $("#result").on("input", function() {
            showStrength();
        });
    });
</script>


</html>
