---
title: Calculate Standard Deviation | Standard Deviation Online | Math Tools
layout: post
---
<html>

<head>
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source tool to calculate standard deviation, and related statistics online" />
    <meta name="keywords" content="online,tool,math,standard,deviation,statistics,sigma,web,opensource,http" />
    <!-- CSS for the site theme -->
    {% include theme-css %}
    <!-- Annoying IE fixes -->
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- header tag from theme -->
        {% include theme-header %}
        <!-- Sidebar for the whole website -->
        {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h1 class="box-title">Calculate Standard Deviation Online Tool</h1>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="20" placeholder="Copy/Paste list of numbers here to see standard deviation" id="inputText" autofocus></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer">
                        <div id="result"><div><code>Standard Deviation[σ]: ?</code></div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">About Word Counter Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="img-responsive" src="images/standard-deviation.png" alt="Online Standard Deviation Calculator Tool" title="Online Standard Deviation Calculator Tool"/>
                        <p>This is a free online tool to do calculation of standard deviation statistics function.</p>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Why Standard Deviation Calculation Is Needed?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Standard deviation is a common way to measure variation or dispersion of data. This is a common tool to do statistical analysis of large data set.</p>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">What Standard Deviation Formula is used this tool?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This tool uses mean to calculate the variation.</p>
                        <img class="img-responsive" src="images/standard-deviation-formula.png" alt="Online Standard Deviation Calculator Tool Uses This Formula" title="Online Standard Deviation Calculator Tool Uses This Formula"/>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script src="javascripts/fromdev-utils.js"></script>
<script>

    var textarea = document.getElementById("inputText");
    var result = document.getElementById("result");
    const supportedSeparators = ['\n',',',':',';','\t'];
    const guessSeparator = (inVal) => {
        const separator = (inVal) ? supportedSeparators.find(v => inVal.indexOf(v) > -1) : '\n';
        return separator || '\n'; 
    };

    textarea.addEventListener("input", function() {
        const inVal = this.value || '';
        const separator = guessSeparator();
        const values = inVal.split(separator);
        const numValues = values.map(Number.parseFloat).filter(Number);
        const v = MathUtils.standardDeviation(numValues);
        const displayValue = (Number.isNaN(v)) ? '?' : (v || '?');
        result.innerHTML = (`<div><code>Standard Deviation[σ]: ${displayValue} </code></div>`);
    }, false);
    $(document).ready(function() {
		$('#string-utility-category').addClass('active');
   	});
    
</script>

</html>
