---
title: XML Escape | UnEscape Online | Developer Tools
layout: post
---
<html>

<head>
    {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source tool for programmers to escape or unescape a String value for HTML use." />
    <meta name="keywords" content="online,tool,html,escape,unescape,encode,decode,web,opensource,http" /> {% include theme-css %} {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        {% include theme-header %} {% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h1 class="box-title">XML Escape and UnEscape</h1>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="20" placeholder="Copy/Paste text here to escape or unescape" id="inputText" autofocus></textarea>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-success" id="escape"> Escape </button>
                            </div>
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-info" id="unescape">UnEscape</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </section>
            <section class="content">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">About XML Escape and UnEscape Tool</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>This is a free online tool to escape and unescape XML markup. You can copy/paste your desired XML in below text field and hit Escape or UnEscape button.</p>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">What is XML Escaping?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>HTML escaping is used to represent special meaning characters in a XML code. e.g. less than symbol <code>&lt;</code> has a special meaning in XML markup language. But in case your data contains a less than symbol <code>&lt;</code>                            and you want to send it without confusing the browser then you need to send it as &amplt; instead of <code>&lt;</code> . Simlarly there are many other special characters that can be used as part of XML markup. Below sample
                            list can give you a idea of what this means.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">XML Escaping Characters</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Character</th>
                                    <th>XML Escape Value</th>
                                </tr>
                                <tr>
                                    <td>quote (")</td>
                                    <td>&amp;quot;</td>
                                </tr>
                                <tr>
                                    <td>amphersand (&amp;)</td>
                                    <td>&amp;amp;</td>
                                </tr>
                                <tr>
                                    <td>less than symbol (&lt;)</td>
                                    <td>&amp;lt;</td>
                                </tr>
                                <tr>
                                    <td>greater than symbol (&gt;)</td>
                                    <td>&amp;gt;</td>
                                </tr>
                                <tr>
                                    <td>single quote (&apos;)</td>
                                    <td>&amp;apos;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Want To Know What Is The XML Escaped Value of a Character?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>That is easy. Just type the character or a full string in the text box above and hit Escape button. You should be able to see the escaped value.</p>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">What is HTML UnEscaping?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>XML UnEscaping is the reverse process of escaping. This is used by the browser and client side programming languages to get the real data value from escaped string.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">What Characters Need To Be Escaped?</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Only few special meaning character need to be escaped. These characters have special use in XML markup language. </p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include theme-footer %}
    </div>
    <!-- ./wrapper -->
    {% include theme-bottom-js %}

</body>
<script src="plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script>
    if (!String.prototype.encodeHTML) {
        String.prototype.encodeHTML = function() {
            return this.replace(/&/g, '&amp;')
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;')
                .replace(/"/g, '&quot;')
                .replace(/'/g, '&apos;');
        };
    }

    if (!String.prototype.decodeHTML) {
        String.prototype.decodeHTML = function() {
            return this.replace(/&apos;/g, "'")
                .replace(/&quot;/g, '"')
                .replace(/&gt;/g, '>')
                .replace(/&lt;/g, '<')
                .replace(/&amp;/g, '&');
        };
    }

    $(document).ready(function() {
        $("#escape").click(function() {
            var inputTextArea = $("#inputText");
            inputTextArea.val(inputTextArea.val().encodeHTML());
        });
        $("#unescape").click(function() {
            var inputTextArea = $("#inputText");
            inputTextArea.val(inputTextArea.val().decodeHTML());
        });
        $("#inputText").selectOnFocus();
        $('#string-utility-category').addClass('active');
    });
    </script>
</html>
