<header>
        <a href="/"><h2 class="header">Tools</h2></a>
        <p class="header">Developer Tools Website</p>
        <ul>
          <li><a class="buttons plain" href="https://fromdev.github.io/tools/url-encode-decode.html">URL Encode</a></li>
          <li><a class="buttons plain" href="https://fromdev.github.io/tools/html-escape-unescape.html">HTML Escape</a></li>
	  <li><a class="buttons plain" href="https://fromdev.github.io/tools/javascript-escape-unescape.html">JS Escape</a></li>
	  <li><a class="buttons plain" href="https://fromdev.github.io/tools/xml-escape-unescape.html">XML Escape</a></li>
	  <li><a class="buttons plain" href="https://fromdev.github.io/tools/string-util.html">String Utils</a></li>
	  <li><a class="buttons plain" href="https://fromdev.github.io/tools/word-counter.html">Word Counter</a></li>
	  <li><a class="buttons plain" href="https://fromdev.github.io/tools/md5.html">Calculate MD5</a></li>
	  <li><a class="buttons plain" href="https://fromdev.github.io/tools/qr-code-generator.html">QR Code</a></li>
	  <li><a class="buttons plain" href="https://fromdev.github.io/tools/title-maker.html">Title Maker</a></li>
	  <li><a class="buttons plain" href="https://fromdev.github.io/tools/meta-tag-generator.html">Meta Tags</a></li>
	  <li><a class="buttons plain" href="https://fromdev.github.io/tools/secure-password-generator.html">Password Tool</a></li>
	  <li><a class="buttons plain" href="https://fromdev.github.io/tools/memorable-secure-password-generator.html">Easy Password</a></li>
	  <li><a class="buttons plain" href="http://tools.fromdev.com/jquery-quickstart-snippet.html">jQuery Grabber</a></li>
	</ul>
	<ul>
          <li><a class="buttons github" href="https://github.com/fromdev/tools">View On GitHub</a></li>
        </ul>
</header>
