---
title: Math Multiplication Practice Online : Level 1
layout: post
---
<html>
<head>
   {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source collection of onlinemath tools for everyone to practice and learn." />
    <meta name="keywords" content="online,tool,math,multiplication,practice,opensource" />

    {% include theme-css %}
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

{% include theme-header %}
{% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Math Multiplication Practice Online : Level 1</h1>
            </section>
            <!-- Main content -->
            <section class="content">

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
{% include theme-footer %}
    </div>
    <!-- ./wrapper -->
{% include theme-bottom-js %}

</body>
<script type="text/javascript" src="http://tools.fromdev.com/javascripts/fromdev-utils.js"></script>
<script type="text/javascript" src="http://tools.fromdev.com/math/javascript/MultiplicationProblem.js?v=3"></script>

<script type="text/javascript">
var currentLevelRange = {"start":0,"end":5};
$(document).ready(function () {
  var problems = MultiplicationProblem.generateProblems(currentLevelRange);
  console.log(problems.toString());
  console.log(problems[RandomUtils.getRandomInt(1,100)].display);

});

</script>
</html>
