---
title: Math Multiplication Practice Online : Level 1
layout: post
---
<html>
<head>
   {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source collection of onlinemath tools for everyone to practice and learn." />
    <meta name="keywords" content="online,tool,math,multiplication,practice,opensource" />

    {% include theme-css %}
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

{% include theme-header %}
{% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 id="levelHeading">Math Multiplication : Level 1</h1>
            </section>
            <!-- Main content -->
            <section class="content">
              <div class="box box-success">
                  <div class="box-header with-border">
                      <h1 class="box-title">Solve Multiplication Problem</h1>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <div class="box-body">
                      <h1 class="box-title" id="message" style="display:none;"></h1>
                      <form role="form">
                          <div class="form-group">
                              <h2 id="problem"></h2>
                          </div>
                      </form>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                      <div class="row">
                          <div class="col-xs-4" id="choices">
                              <button type="button" class="btn btn-success answerChoice" id="choice0">?</button>
                              <button type="button" class="btn btn-success answerChoice" id="choice1">?</button>
                              <button type="button" class="btn btn-success answerChoice" id="choice2">?</button>
                              <button type="button" class="btn btn-success answerChoice" id="choice3">?</button>
                              <button type="button" class="btn btn-success answerChoice" id="choice4">?</button>
                              <button type="button" class="btn btn-success answerChoice" id="choice5">?</button>
                              <button type="button" class="btn btn-success" id="nextLevel" style="display:none;">Go To Level 2</button>
                          </div>
                      </div>
                  </div>
                  <!-- /.box-footer -->
              </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
{% include theme-footer %}
    </div>
    <!-- ./wrapper -->
{% include theme-bottom-js %}

</body>
<script type="text/javascript" src="http://tools.fromdev.com/javascripts/json2.js"></script>
<script type="text/javascript" src="http://tools.fromdev.com/javascripts/fromdev-utils.js"></script>
<script type="text/javascript" src="http://tools.fromdev.com/math/javascript/MultiplicationProblem.js?v=10"></script>
<script type="text/javascript" src="http://tools.fromdev.com/math/javascript/Levels.js"></script>

<script type="text/javascript">

var initLevel = function(level) {
  if(level) {
    level.problems = ArrayUtils.shuffle(MultiplicationProblem.generateProblems(level.range));
    console.log(level);
    StorageUtils.setItem("CURRENT_LEVEL",JSON.stringify(level));
    $("#levelHeading").text("Math Multiplication : Level " + level.id);
    $(".answerChoice").show();
    $("#nextLevel").hide();
  }
  return level;
};
var getJSON = function(key) {
  var jsonObject;
  try {
    jsonObject = JSON.parse(StorageUtils.getItem(key)); // this is how you parse a string into JSON
  } catch (ex) {
    console.error(ex);
  }
  return jsonObject;
};
var curLvl = getJSON("CURRENT_LEVEL");

var currentLevelConfig = (curLvl) ? initLevel(curLvl) : initLevel(Levels.ONE);

//cache jquery objects for page
var $problem = $("#problem");
var $message = $("#message");
var selectedPrblem;
$(document).ready(function () {
  $(".answerChoice").click(evaluateAnswer);
  $("#nextLevel").click(function(){
    currentLevelConfig = initLevel(currentLevelConfig.nextLevel);
    nextProblem();
  });
  nextProblem();
});

var evaluateAnswer = function() {
  var correctAnswer = selectedPrblem.answer();
  var selectedAnswer = $(this).text();
  if(correctAnswer == selectedAnswer) {
    console.log("correct answer - questions remaining " + currentLevelConfig.problems.length);
    $message.html('<i class="fa  fa-thumbs-up text-green"></i> Correct! ' + ' +' + currentLevelConfig.points + ' Points.').show().delay(1000).fadeOut();
    rewardPoints();
  } else {
    console.log("incorrect answer - adding back");
    $message.html('<i class="fa  fa-times text-red"></i> Oops!').show().delay(1000).fadeOut();;
    currentLevelConfig.problems.push(selectedPrblem);
  }
  nextProblem();
};

var rewardPoints = function() {
  var totalPoints = StorageUtils.getItem("TOTAL_POINTS");
  if(!totalPoints) {
    totalPoints = 0;
  }
  totalPoints += currentLevelConfig.points;
  StorageUtils.setItem("TOTAL_POINTS",totalPoints);
};
var nextProblem = function() {
  selectedPrblem = currentLevelConfig.problems.pop();
  if(selectedPrblem) {
    console.log(selectedPrblem.display);
    $problem.text(selectedPrblem.displayProblem());
    showChoices(selectedPrblem);
  } else {
    console.log('Level complete - next level ' + (currentLevelConfig.id + 1));
    $problem.html('<i class="fa fa-trophy text-yellow"></i>'+ ' Awesome! Level ' + currentLevelConfig.id + ' Completed');
    $(".answerChoice").hide();
    $("#nextLevel").show();
  }
};

var showChoices = function(problem) {
  var choices = ArrayUtils.shuffle(problem.choices());
  if(choices) {
    for(var i = 0; i < currentLevelConfig.choicesGiven; i++) {
      var ch = -1;
      if(i < choices.length){
        ch = choices[i];
      }
      var $ch = $("#choice" + i);
      if($ch) {
        if(ch >= 0) {
          $ch.text(ch);
        } else {
          $ch.remove();
        }
      }
    }

  }
};

</script>
</html>
