---
title: Bar Code Sample Data For Testing | Data Tools
layout: post
---
<html>

<head>
  <!-- Meta tags common for website -->
  {% include common-meta %}
  <title>{{ page.title }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="description" content="This is easy to use open source tool to generate barcode for any text inpu. This can help you easily generate barcode images." />
  <meta name="keywords" content="online,tool,barcode,download,samples,web,opensource" />
  <!-- CSS for the site theme -->
  {% include theme-css %}
  <!-- Annoying IE fixes -->
  {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">

    <!-- header tag from theme -->
    {% include theme-header %}
    <!-- Sidebar for the whole website -->
    {% include theme-sidebar %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="row">
            <div class="box box-success">
              <div class="box-header with-border">
                <h3 class="box-title">Download Or Scan Bar Code From Here</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="form-group">
                  <div id="result">
                    <canvas id="barcode" width="256" height="256"></canvas>
                  </div>
                </div>
                <div class="form-group">
                    <p id="autodetect" class="text-aqua"></p>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="row">
                  <div class="col-xs-3">
                    <button type="button" class="btn btn-success" id="generate">Generate Bar Code</button>
                  </div>
                  <div class="col-xs-3">
                    <button type="button" class="btn btn-info" id="download"> <i class="fa fa-download"></i> Download Bar Code</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
      <section class="content">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">About Bar Code Generator Tool</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <img class="img-responsive" src="/images/barcode.jpg" alt="Online Open Source Bar Code Generator Tool" title="Online Open Source Bar Code Generator Tool">
            <p>This is a free online tool to generate Bar code for any text. You can copy/paste your desired text/string in above text field and hit Generate Bar Code button.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">What is a Bar Code?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>It is a visual code that can be read by machines using camera. It is commonly used in mobile phones to read the URL from a printed media like message board or visiting card.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Want To Know What Is The Bar Code of a Character or String?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>That is easy. Just type the character or a full string in the text box above and hit Generate Bar Code button. You should be able to see the Bar Code Image on right side.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">How To Download Bar Code Image?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>The Bar code generated on this page can be downloaded using Download Bar code button. You can also download it (on most browsers except safari) by doing right click on image and choosing save image menu option.</p>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Can I Print this Bar Code?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>Yes, the generated Bar code is absolutely free to use for personal or business purposes. You can print it on a paper, visiting card, t-shirt or anywhere you like.</p>
          </div>
          <!-- /.box-body -->
        </div>

        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">What Types of bardcode are supported by this tool?</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>This tool supports following barcodes</p>
            <ul>
              <li>UPC - Universal Product Codes - 12 Digit</li>
              <li>EAN-2 - European Article Number</li>
              <li>EAN-5 - European Article Number</li>
              <li>EAN-8 - European Article Number</li>
              <li>EAN-13 - European Article Number (13 DIGIT) </li>
              <li>GTIN-8 - Global Trade Item Number (8 DIGIT)</li>
              <li>GTIN-12 - Global Trade Item Number (12 DIGIT)</li>
              <li>GTIN-13 - Global Trade Item Number (13 DIGIT)</li>
              <li>GTIN-14 - Global Trade Item Number (14 DIGIT)</li>
              <li>CODE128</li>
              <li>CODE128A</li>
              <li>CODE128B</li>
              <li">CODE128C</li>
              <li>ITF14</li>
              <li>MSI</li>
              <li>MSI10</li>
              <li>MSI11</li>
              <li>MSI1010</li>
              <li>MSI1110</li>
              <li>pharmacode</li>
              <li>codabar</li>
            </ul>
          </div>
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">How does autodetect work?</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <p>The tool understand some known barcode formats. It can guess the format by looking at the length of string. e.g. any 12 digit code would be assumed to be UPC.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box-body -->
        </div>
      </section>
      {% include addthis %}
    </div>
    <!-- /.content-wrapper -->
    {% include theme-footer %}
  </div>
  <!-- ./wrapper -->
  {% include theme-bottom-js %}

</body>
<script src="/javascripts/fromdev-utils.js"></script>
<script src="/plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>
<script src="/javascripts/JsBarcode.all.min.js"></script>
<script src="/javascripts/reimg.js"></script>
<script src="javascripts/barcode-ux-utils.js"></script>
<script src="/javascripts/data/upc-list.js"></script>

<script>
  
  $(document).ready(function() {
    BarcodeUxUtils.generateBarcode(ArrayUtils.nextRandomItem(upcList));
    $("#generate").click(function() {
      $('#error').text('');
      const input = ArrayUtils.nextRandomItem(upcList);
      if (BarcodeUxUtils.validateBarcode(input)) {
        BarcodeUxUtils.generateBarcode(input);
      }
    });

    $("#download").click(function() {
      $('#error').text('');
      BarcodeUxUtils.download();
    });

    $("#inputText").selectOnFocus();
    $('#generators-category').addClass('active');
  });
</script>

</html>
